
    .box {
      margin: 0px;
      font-family: Arial, sans-serif;
      display: flex;
      gap: 20px;
      font-family: 'Fredoka One';
    }

    .left {
      flex:2;
      
      display: flex;
      align-items: center;
      justify-content: center;
      height: 350px;
      width: 350px;
      
    }


    .right {
      flex: 1.5;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .description- {
      background-color: var(--product-description);
      flex: 1;
      display: flex;
      padding: 10px;
      border-radius: 5px;
      font-size: 20px;
      color: var(--text-color1);
      text-shadow:0 0 1px #000000,0 0 2px var(--glow-colour),0 0 5px var(--glow-colour),0 0 ;
    }

    .details- {
      background-color: #ff08b2;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      color: white;
      font-size: 10px;
    }

    



    .buy {
      background-color: #ffe608;
      text-align: center;
      padding: 20px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
      color: #ff08b2;
      font-size: 20px;
    }

    .bottom-row {
      display: flex;
      gap: 20px;
    }